#
#
# DBS Client Configuration file
# Comment
#
# Version of  Client, Do not change it unless you know what are you doing
VERSION=DBS_2_0_9
#VERSION=DBS_2_0_8
#VERSION=DBS_2_0_7
#VERSION=DBS_2_0_6
#
# Official URLs
# Global (Production)
# Read/Write
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_global_writer/servlet/DBSServlet
#
# Read Only
#
URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
#
## Local Instances (Production)
# Read Write
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_01_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_02_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_03_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_04_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_05_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_06_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_07_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_08_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_09_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_10_writer/servlet/DBSServlet
##
# Read Only
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_01/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_02/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_03/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_04/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_05/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_06/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_07/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_08/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_09/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_10/servlet/DBSServlet
#
#URL=https://vocms30.cern.ch:8443/cms_dbs_ph_analysis_01_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_ph_analysis_02_reader/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_caf_analysis_01_writer/servlet/DBSServlet
#
#
#URL=http://cmssrv46.fnal.gov:8080/DBS206P51/servlet/DBSServlet
#URL=http://cmssrv46.fnal.gov:8080/DBS/servlet/DBSServlet
#URL=http://cmssrv46.fnal.gov:8080/DBS208/servlet/DBSServlet
#
## Integration
# Read Write
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_int_global_writer/servlet/DBSServlet
##
#Read Only
#URL=http://cmsdbsprod.cern.ch/cms_dbs_int_global/servlet/DBSServlet
#
# Tier - 0 - INT
#URL=https://cmst0dbs.cern.ch:8443/cms_dbs_prod_tier0_writer/servlet/DBSServlet
#URL=https://cmst0dbs.cern.ch:8443/cms_dbs_int_tier0_writer/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_int_tier0/servlet/DBSServlet
#
# Development
#URL=http://cmssrv48.fnal.gov:8989/DBS/servlet/DBSServlet
#
#  Where to Write the LOG Messages
#  DEFAULT is stdout
#
#CLIENTTYPE=SUPER
CLIENTTYPE=NORMAL
LOG=STDOUT
#LOG=/tmp/dbs.log
# 
#  Possible levels are 
#
# DBS Supported Log Levels
#  Standard
#CRITICAL   50
#ERROR      40
#NOTSET     0
#  DBS Defined
#DBSWARNING 3
#DBSINFO    2
#DBSDEBUG   1
#
#  DEFAULT Log Level is ERROR
#
#LEVEL=CRITICAL
LEVEL=ERROR
#LEVEL=NOTSET
#LEVEL=DBSWARNING
#LEVEL=DBSINFO
#LEVEL=DBSDEBUG
#
#
###############################################################################
# Chose Standalone mode (MODE=EXEC) or via TOMCAT Server (MODE=POST)
#  Default is MODE=POST
MODE=POST
#MODE=EXEC
#
##############################################################################
# If running in STANDALONE Mode (MODE=EXEC)
# PLEASE uncomment following lines 
DBSHOME=LocationOfDBSJavaServer
JAVAHOME=JDKHome
#
#
ADSHOME=$HOME/DBSADS
#


