#
#
# DBS Client Configuration file
# Comment
#
# Version of  Client, Do not change it unless you know what are you doing
#VERSION=DBS_1_0_5
#VERSION=DBS_1_0_7
#VERSION=DBS_1_0_8
#VERSION=DBS_1_0_9
#VERSION=DBS_1_1_2
#VERSION=DBS_1_1_3
#VERSION=DBS_1_2_1
#VERSION=DBS_1_2_2
#VERSION=DBS_1_2_3
#VERSION=DBS_1_2_5
#VERSION=DBS_1_1_2
#VERSION=DBS_1_2_8
#VERSION=DBS_1_2_9
#VERSION=DBS_2_0_0
#VERSION=DBS_2_0_2
#VERSION=DBS_2_0_3
#VERSION=DBS_2_0_4
VERSION=DBS_2_0_5
#VERSION=DBS_2_0_6
####    DBS_2_0_6 is the official version, we are FAKING it to 2_0_5, untill DBS Servers are upgraded to 2_0_6
#
# Official URLs
# Global (Production)
# Read/Write
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_global_writer/servlet/DBSServlet
#
# Read Only
#
URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
#
## Local Instances (Production)
# Read Write
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_01_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_02_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_03_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_04_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_05_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_06_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_07_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_08_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_09_writer/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_local_10_writer/servlet/DBSServlet
##
# Read Only
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_01/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_02/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_03/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_04/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_05/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_06/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_07/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_08/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_09/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_prod_local_10/servlet/DBSServlet
#
#New Hosts
#Read Instances
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_01_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_02_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_03_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_04_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_05_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_06_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_07_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_08_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_09_writer/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_10_writer/servlet/DBSServlet
#
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_01_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_02_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_03_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_04_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_05_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_06_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_07_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_08_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_09_writer/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_10_writer/servlet/DBSServlet
#

# Read Only
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_01/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_02/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_03/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_04/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_05/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_06/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_07/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_08/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_09/servlet/DBSServlet
#URL=http://vocms30.cern.ch/cms_dbs_prod_local_10/servlet/DBSServlet

#URL=http://vocms31.cern.ch/cms_dbs_prod_local_01/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_02/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_03/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_04/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_05/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_06/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_07/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_08/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_09/servlet/DBSServlet
#URL=http://vocms31.cern.ch/cms_dbs_prod_local_10/servlet/DBSServlet


#ADMIN instances for delete
#USE CAREFULLY
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_01_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_02_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_03_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_04_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_05_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_06_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_07_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_08_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_09_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_10_admin/servlet/DBSServlet

#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_01_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_02_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_03_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_04_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_05_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_06_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_07_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_08_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_09_admin/servlet/DBSServlet
#URL=https://vocms31.cern.ch:8443/cms_dbs_prod_local_10_admin/servlet/DBSServlet


#URL=https://vocms30.cern.ch:8443/cms_dbs_ph_analysis_01_admin/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_ph_analysis_02_reader/servlet/DBSServlet
#URL=https://vocms30.cern.ch:8443/cms_dbs_caf_analysis_01_writer/servlet/DBSServlet


#
#URL=https://vocms30.cern.ch:8443/cms_dbs_prod_local_10_admin/servlet/DBSServlet
#
# Direct URL (Do not use it please, only for testing)
#URL=http://vocms02.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
#URL=http://vocms05.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
#
# Read/Write FNAL Tier-1 instance (Do not use unless you are Dave Mason or Oliver)
#URL=http://cmssrv46.fnal.gov:8080/DBS111/servlet/DBSServlet
#URL=http://cmssrv46.fnal.gov:8080/DBSKristin/servlet/DBSServlet
#
## Integration
# Read Write
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_int_global_writer/servlet/DBSServlet
##
#Read Only
#URL=http://cmsdbsprod.cern.ch/cms_dbs_int_global/servlet/DBSServlet
#
# Tier - 0 - INT
#URL=https://cmst0dbs.cern.ch:8443/cms_dbs_prod_tier0_writer/servlet/DBSServlet
#URL=https://cmst0dbs.cern.ch:8443/cms_dbs_int_tier0_writer/servlet/DBSServlet
#URL=http://cmsdbsprod.cern.ch/cms_dbs_int_tier0/servlet/DBSServlet
#
# Development
#URL=http://cmssrv46.fnal.gov:8080/DBS126/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBS/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBSGlobal/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBSTest/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBS1/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBS_forStewert1/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBS_forStewert2/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBS_1_1_5_test/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBS2/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8282/DBS/servlet/DBSServlet
#URL=http://cmssrv48.fnal.gov:8383/DBSnew/servlet/DBSServlet
#URL=http://vocms24.cern.ch:8480/DBS_1_0_5_Tier0_migrate/servlet/DBSServlet
#URL=http://vocms28.cern.ch:8480/cms_dbs_prod_global_reader/servlet/DBSServlet
#URL=http://vocms24.cern.ch:8480/cms_dbs_int_tier0_mysql/servlet/DBSServlet
#
#URL=http://cmssrv17.fnal.gov:8989/DBSADSTEST03/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBSADSTEST03_ORA/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBSADSTEST03_ADSDEF/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBS116Oracle2/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBS/servlet/DBSServlet
#URL=http://vocms28.cern.ch:8480/DBS/servlet/DBSServlet
##URL=http://cmsdbsdev1.cern.ch:8480/DBS_LOCAL_05_W/servlet/DBSServlet
#URL=https://cmsdbsprod.cern.ch:8443/cms_dbs_prod_global_admin/servlet/DBSServlet
#URL=http://grid-se004.physik.rwth-aachen.de:8081/cms_dbs_prod_local_09/servlet/DBSServlet
#URL=http://grid-dcms1.physik.rwth-aachen.de:8081/cms_dbs_prod_local_09/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBS_2_0_3_TEST/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBS/servlet/DBSServlet
#URL=http://cmssrv17.fnal.gov:8989/DBSANZAR/servlet/DBSServlet
#
#  Where to Write the LOG Messages
#  DEFAULT is stdout
#
#CLIENTTYPE=SUPER
CLIENTTYPE=NORMAL
LOG=STDOUT
#LOG=/tmp/dbs.log
# 
#  Possible levels are 
#
# DBS Supported Log Levels
#  Standard
#CRITICAL   50
#ERROR      40
#NOTSET     0
#  DBS Defined
#DBSWARNING 3
#DBSINFO    2
#DBSDEBUG   1
#
#  DEFAULT Log Level is ERROR
#
#LEVEL=CRITICAL
LEVEL=ERROR
#LEVEL=NOTSET
#LEVEL=DBSWARNING
#LEVEL=DBSINFO
#LEVEL=DBSDEBUG
#
#
###############################################################################
# Chose Standalone mode (MODE=EXEC) or via TOMCAT Server (MODE=POST)
#  Default is MODE=POST
MODE=POST
#MODE=EXEC
#
##############################################################################
# If running in STANDALONE Mode (MODE=EXEC)
# PLEASE uncomment following lines 
DBSHOME=LocationOfDBSJavaServer
JAVAHOME=JDKHome
#
#
ADSHOME=$HOME/DBSADS
#


